block head-var

block head-meta
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

block head-link
        
block head-script
        
block head-title
    title Page Title
