.sd-specification {
    font-size: 15px;
    line-height: 1.6;

    &__title {
        color: #6eba35;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__list {
        @include reset('inner-space');
        @include reset('list');
    }

    &__list-item {
        display: flex;
        margin-bottom: 17px;
    }

    &__sep {
        flex-grow: 1;
        border-top: 1px dashed #d7d7d7;
        min-width: 60px;
        margin: 15px 10px 0;
    }

    &__label {
        flex-shrink: 0;
        white-space: nowrap;
        color: #666666;
    }

    &__value {
        text-align: right;
    }
}