@font-face {
  font-family: 'GoogleSans-Regular';

  src: url('../font/GoogleSans-Regular.woff') format('woff'),
    url('../font/GoogleSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}