-
    var details = [
        {
            'aos': {
                'effect': 'zoom-in-right',
                'duration': 3000
            },
            'modifier': 'platform',
            'img': 'img/html/details/platform.png',
            'descr': ['Qualcomm® Home Hub Platform with cutting-edge capabilities, delivering excellent performance and superb images. ']
        },
        {
            'aos': {
                'effect': 'zoom-in-down',
                'duration': 1300
            },
            'modifier': 'speaker',
            'img': 'img/html/details/speaker.png',
            'descr': ['Powerful 10W full-range speaker with dual passive radiator for a loud, crisp, and clear sound. ']
        },
        {
            'aos': {
                'effect': 'zoom-in-up',
                'duration': 2500
            },
            'modifier': 'display',
            'img': 'img/html/details/display.png',
            'descr': ['TrueBlock Privacy Shutter & microphone mute button to help safeguard your privacy.', 'Large, bright Full-HD or HD display with wide-angle viewing, perfect for watching with a crowd. ']
        },
        {
            'aos': {
                'effect': 'zoom-in-left',
                'duration': 1850
            },
            'modifier': 'protector',
            'img': 'img/html/details/protector.png'
        }
    ]