-
    var looksSlides = [
        {
            'img': 'img/html/ask-slides/agenda.png',
            'msg': 'Hey Google, what’s on my agenda today?'
        },
        {
            'img': 'img/html/ask-slides/soup.png',
            'msg': 'Hey Google, show me chicken noodle soup recipes'

        },
        {
            'img': 'img/html/ask-slides/lights.png',
            'msg': 'Hey Google, dim the kitchen lights'

        },
        {
            'img': 'img/html/ask-slides/avocode.png',
            'msg': 'Hey Google, show me avocado toast videos'

        },
        {
            'img': 'img/html/ask-slides/jessy.png',
            'msg': 'Hey Google, call Jessie'
        }
    ]