-
    var buyBoxes = [
        {
            'img': 'img/html/buybox/sd-8.png',
            'title': 'Lenovo Smart Display 8”',
            'price': '$399.00',
            'action': {
                'text': 'Buy Now'
            }
        },
        {
            'img': 'img/html/buybox/sd-10.png',
            'title': 'Lenovo Smart Display 10”',
            'price': '$499.00',
            'action': {
                'text': 'Buy Now'
            }
        },
    ]