-
    var sdTiles = [
        {
            'img': 'img/html/tiles/tile-1.png',
            'title': 'See and hear what you need ',
            'msg': 'Hey Google, remind me to pick up the dry cleaning',
            'descr': "Your Google Assistant streamlines your tasks so you can spend more time on what matters most. Like catching up with friends or having some quality 'me time'. Enjoy hands-free, always-on help while you multitask—without the hassle. ",
            'link': '<span>Read more</span><span>Hide</span>',
            'popupContent': {
                'list': [
                    {
                        'img': 'img/html/list-icons/icon-calendar.png',
                        'text': 'Review your schedule, make a doctor’s appointment, check the morning traffic, and more.'
                    },
                    {
                        'img': 'img/html/list-icons/icon-recipe.png',
                        'text': 'Browse recipes, get step-by-step cooking instructions, add to your shopping list, and make purchases with Google Express -- all hands-free. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-time.png',
                        'text': 'Want to power through your morning? Set up Routines like “Hey Google, good morning!”, and the Google Assistant shows you the weather and your commute, switches on the lights and adjusts your thermostat, and gets you up to speed on the news – all through one simple request. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-micro.png',
                        'text': 'You can also customize your Routines for any scenario and set up Voice Match for a more personalized experience. '
                    }
                ]
            }
        },
        {
            'img': 'img/html/tiles/tile-2.png',
            'title': 'A picture is worth a thousand words',
            'msg': 'Hey Google, show me pasta making videos',
            'descr': "Sometimes, seeing is better. That’s why the Google Assistant on your Smart Display enhances answers with images, maps and videos. ",
            'link': '<span>Read more</span><span>Hide</span>',
            'popupContent': {
                'list': [
                    {
                        'img': 'img/html/list-icons/icon-map.png',
                        'text': 'Ask for a local French restaurant, and explore the options available in your area with Google Maps. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-weather.png',
                        'text': 'Ask for the weather anywhere in the world, for today, tomorrow, or even this weekend.'
                    },
                    {
                        'img': 'img/html/list-icons/icon-clean.png',
                        'text': 'Ask how to clean a red-wine carpet stain, and a YouTube video guides you.'
                    },
                    {
                        'img': 'img/html/list-icons/icon-micro.png',
                        'text': 'Ask for something from across the room and get a response, thanks to dual-array microphones and a full-range speaker. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-cook.png',
                        'text': 'Ask to see delicious recipes, and follow them every step of the way. '
                    }
                ]
            }
        },
        {
            'img': 'img/html/tiles/tile-3.png',
            'title': 'The smarter way to run your home  ',
            'msg': 'Hey Google, show me the kids’ room',
            'descr': "Control and monitor your home—from your kitchen, living room, or bedroom. All you need to do is ask your Smart Display. ",
            'link': '<span>Read more</span><span>Hide</span>',
            'popupContent': {
                'list': [
                    {
                        'img': 'img/html/list-icons/icon-light.png',
                        'text': 'Dim the lights, adjust the temperature, or lock the front door, instantly and remotely. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-control.png',
                        'text': 'Control over 5,000 smart home products from over 250 brands—from air purifiers and coffee makers to security systems. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-watch.png',
                        'text': 'Watch a live feed of the backyard, while busy elsewhere. '
                    }
                ]
            }
        },
        {
            'img': 'img/html/tiles/tile-4.png',
            'title': 'An entertainment hub for every occasion',
            'msg': 'Hey Google, play some feel good music',
            'descr': "As you cook up a storm in the kitchen or wait for your guests to arrive, ask the Google Assistant on your Smart Display to play something on YouTube. ",
            'link': '<span>Read more</span><span>Hide</span>',
            'popupContent': {
                'list': [
                    {
                        'img': 'img/html/list-icons/icon-yt.png',
                        'text': 'Watch YouTube videos on the beautiful screen or stream your favorite shows from services like YouTube TV and HBO Now*.'
                    },
                    {
                        'img': 'img/html/list-icons/icon-pic.png',
                        'text': 'Search in Google Photos for a picture from your last vacation and display it on your Smart Display '
                    },
                    {
                        'img': 'img/html/list-icons/icon-music.png',
                        'text': 'Listen to music, podcasts, the radio, and the news, without touching a thing.'
                    }
                ],
                'copyright': '*HBO NOW subscription required. HBO NOW® is only accessible in the U.S. and certain U.S. territories. Certain restrictions apply. ® and © 2018 Home Box Office, Inc. All Rights Reserved.​'
            }
        },
        {
            'img': 'img/html/tiles/tile-5.png',
            'title': 'Keep in touch without lifting a finger',
            'msg': 'Hey Google, call Jessie',
            'descr': "You, your family, and friends can stay connected with hands-free video calling. Simply say the name and let your Smart Display do the rest. ",
            'link': '<span>Read more</span><span>Hide</span>',
            'popupContent': {
                'list': [
                    {
                        'img': 'img/html/list-icons/icon-video.png',
                        'text': 'Keep in touch with family and friends with hands-free, high-quality video calls on Google Duo.  '
                    },
                    {
                        'img': 'img/html/list-icons/icon-circle.png',
                        'text': 'Rotate the display between landscape and portrait mode to best suit you. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-user-call.png',
                        'text': 'Pick up your best friend’s call even if you’re busy with breakfast. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-no-video.png',
                        'text': 'And when not in use, you can physically switch off the camera and microphone. '
                    },
                    {
                        'img': 'img/html/list-icons/icon-recipe.png',
                        'text': 'Get urgent advice from your Mom on marinating chicken, without making an even bigger mess. '
                    }
                ]
            }
        }
    ];