-
    var specifications = {
        '8': {
            'Design': {
                'Width x Height:': '142.21mm x 263.21 mm',
                'Thickness:': '12.5 mm — 111.36 mm',
                'Weight:': '1 kg (2.2 lbs)',
                'Color:': 'Grey',
                'I/O Buttons:': '1 x Microphone-Mute, 1 x Camera Shutter, 1 x Volume +/-'
            },
            'Display': {
                'Size:': '8”',
                'Type:': 'IPS',
                'Resolution:': 'HD (1280 x 800)',
                'Screen:': 'Direct Bonding',
                'Rotating View:': '86° Wide Angle'
            },
            'Performance': {
                'Processor:': 'Qualcomm® Home Hub Platform (base​ Snapdragon™ 624, Octa-Core A53 1.8 GHz, 14 nm)​',
                'Audio:': '.75" 10W Full Range Speaker​ 2 x Passive Tweeters​ Supports Multi-room Audio​',
                'Microphone:': '2 x 2 Dual Microphone Arrays',
                'RAM:': 'Up to 2 GB',
                'Flash (eMMC):': 'Up to 4 GB'
            },
            'Multimedia': {
                'Front Camera:': '5 MP Wide Angle',
                'Video Call:': '720p'
            },
            'Connectivity': {
                'WLAN:': '2 x 2 WiFi 802.11 ac 2.4G/5G, MIMO',
                'Bluetooth®:': 'Bluetooth® BLE & 4.2'
            },
            'What’s In The Box': {
                'untitled': ['Lenovo Smart Display (8)', 'Cable', 'Adapter', 'Quick Start Guide', 'Warranty Card']
            }
        },
        '10': {
            'Design': {
                'Width x Height:': '173.87 mm x 311.37 mm',
                'Thickness:': '12.5 mm — 136.02 mm',
                'Weight:': '1.2 kg (2.6 lbs)',
                'Color:': 'Bamboo',
                'I/O Buttons:': '1 x Microphone-Mute, 1 x Camera Shutter, 1 x Volume +/-'
            },
            'Display': {
                'Size:': '10.1”',
                'Type:': 'IPS',
                'Resolution:': 'FHD (1920 x 1200)',
                'Screen:': 'Direct Bonding',
                'Rotating View:': '86° Wide Angle'
            },
            'Performance': {
                'Processor:': 'Qualcomm® Home Hub Platform (base​ Snapdragon™ 624, Octa-Core A53 1.8 GHz, 14 nm)​',
                'Audio:': '2" 10W Full Range Speaker​ 2 x Passive Tweeters​ Supports Multi-room Audio​',
                'Microphone:': '2 x 2 Dual Microphone Arrays',
                'RAM:': 'Up to 2 GB',
                'Flash (eMMC):': 'Up to 4 GB'
            },
            'Multimedia': {
                'Front Camera:': '5 MP Wide Angle',
                'Video Call:': '720p'
            },
            'Connectivity': {
                'WLAN:': '2 x 2 WiFi 802.11 ac,  2.4G/5G, MIMO',
                'Bluetooth®:': 'Bluetooth® BLE'
            },
            'What’s In The Box': {
                'untitled': ['Lenovo Smart Display (10)', 'Cable', 'Adapter', 'Quick Start Guide', 'Warranty Card']
            }
        }
    }