+site-section('gray', 'copyright')
    .l-container
        | Google, Google Chromecast, Google Photos, Google Duo, Google Maps, Google Express, YouTube, and other related marks are trademarks of Google LLC.
