+site-section('padding')
    .l-container
        h2.sd-title-reg How it all looks
        .sd-owl-nav.owl-carousel.js-sd-owl-nav
            - for (var i = 1; i < 9; i++)
                .sd-owl-nav__slide: img(src=`img/html/looks-slides/${i}.jpg`, alt= `look-slide${i}`)