+site-section
    .sd-hero
        .sd-hero__content
            .l-container
                .sd-hero__header
                    h1.sd-hero__title
                        img(src="img/html/sd-hero.svg", alt="sd-hero")
                    .sd-hero__descr
                        | ‘An epic new smart home control system.’
                        span.sd-hero__descr-quote — GottaBeMobile. 8 Jan 2018
                    .sd-hero__actions
                        a.sd-btn-light.sd-btn--thin-r2(href='https://www.youtube.com/watch?v=KNE-CsS9_3M' data-fancybox='') Watch the video
                        a.sd-btn-light.sd-btn--thin-r2.js-shopnow-scroll Shop Now
        .sd-hero__video-bg#smart-display-video(data-ytid='bZ5NAw8QyXg')